<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your Editing Hisaab of 24-04-2024</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1><%= filename.split(".")[0] %></h1>
    <form action="/update/<%= filename %>" method="post">
        <textarea name="content" rows="5" cols="40"> <%= filedata%> </textarea>
        <br>
        <button type="submit">Update Hisaab</button>
    </form>
</body>
</html>
