<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your Editing Hisaab of 24-04-2024</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Your Editing Hisaab of 24-04-2024</h1>
    <form action="" method="post">
        <textarea name="hisaab" rows="5" cols="40"><%= record.details %></textarea>
        <br>
        <button type="submit">Update Hisaab</button>
    </form>
</body>
</html>
