<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hisaab Records</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <nav>
        <h3>khata book</h3>
        <div class="">
            <a href="/">Home</a>
            <a href="/create">Create New Hisaab</a>
        </div>
    </nav>
    
    <div class="flex">
        <% if (files.length > 0) { %>
            <h1>All Hisaab Records</h1>
            <% files.forEach((file) => { %>
                <h2><%= file %>></h2>
                <p> file.details </p>
                <a href="/edit/<%= file%>">Edit</a>
                <form action="" method="POST">
                    <button type="submit">Delete</button>
                </form>
            <% }) %>
        <% } else { %>
            <p >Currently nothing to show. ^^</p>
        <% } %>
    </div>
</body>
</html>
