body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

a, button {
    margin: 5px;
    padding: 5px 10px;
    text-decoration: none;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button {
    background: red;
}

button:hover {
    opacity: 0.8;
}
.flex{
    display: flex;
    flex-direction: column;
}